---
import styles from "@styles/components/_navbar.module.scss"
---
<div class={styles["navbar-wrap"]}>
    <nav class={styles["navbar"]}>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
</div>