---
import '@/styles/global.scss';
import { Navbar } from '@/components';
---
<html lang="en" class="theme-autumn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main class="container">
      <slot />
    </main>
  </body>
</html>